{{#paper-card title='About Me' class='about-me'}}
<p>I'm a computer scientist who loves web development! Think of this page as a more interesting form of my resume, most of the information here is about my technical experience with some extra personal stuff about me. If you want a traditional resume (without my phone number) click here. If you want more information that isn't already provided here, feel free to e-mail me!</p>
{{/paper-card}}
{{#paper-card title='Education' class='education'}}
<div class="entry">
  <img src="assets/images/utd.png">
  <div>
    <h3>University of Texas at Dallas</h3>
    <h4>2011 - 2014</h4>
    <p>I graduated from the University of Texas at Dallas in the Fall of 2014 with a B.S in Computer Science. During my time as a student at UTD I was an AES recipient and was heavily involved in the Omega Delta Phi Fraternity. I was also a member of CSG, a group where we learned about computer security concepts. I'm no expert at computer security, but it was fun learning and doing small exercises like script injection.</p>
    <ul>
      <li>Academic Excellence Scholarship - Recipient</li>
      <li>Omega Delta Phi - Alpha Omicron Chapter President</li>
      <li>Computer Security Group - Member</li>
    </ul>
  </div>
</div>
<div class="entry">
  <img src="assets/images/cssi.png">
  <div>
    <h3>Google Computer Science Summer Institute</h3>
    <h4>Summer 2011</h4>
    <p>Google CSSI is a program hosted at Google's Mountain View campus for graduating high school seniors. The purpose of the program is to get students more interested in computer science and help those students develop technical skills. This was the first time I was exposed to programming and also when I decided computer science was the career for me. My CSSI class was taught programming fundamentals by using Google's App Inventor to build simple Android applications. We then graduated to learning to write in Python so we could build web applications using Google's App Engine service. I learned how powerful programming and web applications could be.</p>
    <ul>
      <li>Tools - Google App Inventor, Google App Engine</li>
      <li>Programming Languages - Python, JavaScript</li>
      <li>Web Technologies - HTML5, CSS3</li>
    </ul>
  </div>
</div>
{{/paper-card}}
{{#paper-card title='Employment' class='employment'}}
<div class="entry">
  <img src="assets/images/nectarom.png">
  <div>
    <h3>Nectar Online Media - Software Developer Intern</h3>
    <h4>Jan - Aug of 2015</h4>
    <p>NectarOM offers a suite of tools to help clients with marketing personalization. As an intern, I interacted directly with some of our clients and built on top of our web application tools. Some of my tasks were writing marketing emails in HTML and writing MongoDB query scripts with Node.js to generate customer reports for our clients. My favorite part of working at NectarOM was helping rebuild our architecture by moving our services to RESTful APIs using hapi.js and refactoring our PHP web apps to Ember CLI. I love how APIs allow you to decouple your server technologies from client side applications.</p>
    <ul>
      <li>Tools - Git, Docker, Ansible</li>
      <li>Programming Languages - JavaScript, Python</li>
      <li>Web Technologies - Node.js, Ember.js, hapi.js, MongoDB</li>
    </ul>
  </div>
</div>
<div class="entry">
  <img src="assets/images/cisco.svg">
  <div>
    <h3>Cisco Systems - Software Developer Intern</h3>
    <h4>2013 - 2014</h4>
    <p>While I was a full time student at UT Dallas, I was also a part time intern at Cisco. A lot of my basic skills as a programmer were strengthened while at Cisco because most of my responsibilities consisted of maintaining or refactoring other people's Java or Python code. I participated in Scrum meetings, learned about agile methodologies, got more comfortable using Unix systems, and learned more about computer networks. By the end of my internship, I had built some web applications powered by App Engine to provide GUIs for some Java programs other people had written.</p>
    <ul>
      <li>Tools - Google App Engine, VMware, VNC</li>
      <li>Programming Languages - Java, Python</li>
      <li>Web Technologies - HTML5, CSS3</li>
    </ul>
  </div>
</div>
<div class="entry">
  <img src="assets/images/misd.png">
  <div>
    <h3>Mesquite Independent School District - EMT</h3>
    <h4>2011 - 2013</h4>
    <p>MesquiteISD offered two classes for high school students who were interested in being Emergency Medical Technicians. After completing the classes and clinical rotations, I passed the National Registry of EMTs certification exam! My former JROTC instructors knew I became certified and offered me some part time jobs as an EMT at various JROTC leadership camps. I provided basic first aid and any emergency medical treatments necessary.</p>
  </div>
</div>
{{/paper-card}}
{{#paper-card title='Experience' class='experience'}}
{{#icon-badge iconSet='devicon' iconClass='devicon-csharp-plain colored' class='skill'}}
<span>C#</span>
{{xp-bar xp='70'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-css3-plain colored' class='skill'}}
<span>CSS3</span>
{{xp-bar xp='100'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-git-plain colored' class='skill'}}
<span>Git</span>
{{xp-bar xp='90'}}
{{/icon-badge}}
{{#icon-badge class='skill'}}
<a><img src="assets/images/ember.png"></a>
<span>Ember.js</span>
{{xp-bar xp='75'}}
{{/icon-badge}}
{{#icon-badge class='skill'}}
<a><img src="assets/images/hapi.svg"></a>
<span>hapi.js</span>
{{xp-bar xp='70'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-html5-plain colored' class='skill'}}
<span>HTML5</span>
{{xp-bar xp='95'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-java-plain colored' class='skill'}}
<span>Java</span>
{{xp-bar xp='80'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-javascript-plain colored' class='skill'}}
<span>JavaScript</span>
{{xp-bar xp='90'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-jquery-plain colored' class='skill'}}
<span>jQuery</span>
{{xp-bar xp='80'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-mongodb-plain colored' class='skill'}}
<span>MongoDB</span>
{{xp-bar xp='70'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-nodejs-plain colored' class='skill'}}
<span>Node.js</span>
{{xp-bar xp='90'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-python-plain colored' class='skill'}}
<span>Python</span>
{{xp-bar xp='75'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-rails-plain colored' class='skill'}}
<span>Ruby on Rails</span>
{{xp-bar xp='60'}}
{{/icon-badge}}
{{#icon-badge iconSet='devicon' iconClass='devicon-sass-plain colored' class='skill'}}
<span>Sass</span>
{{xp-bar xp='90'}}
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-terminal' class='skill'}}
<span>Unix</span>
{{xp-bar xp='75'}}
{{/icon-badge}}
{{/paper-card}}
{{#paper-card title='Interests' class='interests'}}
{{#icon-badge class='interest'}}
<a><img src="assets/images/HACKTX.svg"></a>
<span>Hacking</span>
<p>By "hacking" I mean building or tinkering with things related to tech, not in the "computer hacker" kind of way. My favorite places to hack at are "hackathons." Hackathons are events where a bunch of people build things together as fast as they can, usually in a time window of 24 hours. Hackathons are hard but it's also fun to build and break things!</p>
{{/icon-badge}}
{{#icon-badge class='interest'}}
<a href="http://www.omegadeltaphi.com/"><img src="assets/images/odp.svg" class="odp"></a>
<span>Omega Delta Phi</span>
<p>I became a brother of Omega Delta Phi in the Spring of 2012. Being in my Fraternity taught me event planning skills as well as how to work as a team with a diverse group of people. I served as UTD's chapter president for a year and it was one of the best experiences in my life. I'm currently getting involved as an alumni by helping in our national technology cabinet. </p>
{{/icon-badge}}
{{#icon-badge class='interest'}}
<a href="http://steamcommunity.com/id/oparamo"><img src="assets/images/steam.png"></a>
<span>Video Games</span>
<p>I love playing video games so much I've it made it one of my goals to make at least one simple game in the future. Recently, I built a gaming PC and have been playing a lot of games on Steam. If you're interested, you can add me on Steam by clicking on the icon! I'm competitive when it comes to Pokémon and Super Smash Bros. so email me if you want to exchange Friend Codes. 😈</p>
{{/icon-badge}}
{{/paper-card}}
